/* over all */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}
ul{
    list-style: none;
}
html{
    font-size: 20px;
}
a{
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
/* /over all */

/* header */
header{
    display: block;
    width: 100%;
    height: 60px;
    position: relative;
    top: 0;
    z-index: 1;
    zoom: 1;
    background-color: whitesmoke;
    box-shadow: 0px 1px 10px 0.01px black;
}
header .wrapper{
    display: flex;
    flex-direction: row;
    max-width: 75%;
    margin: 0 auto;
}
header .social_media{
    scale: 80%;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 40%;
    margin-top: 10px;
    align-items: center;
}
/* /header */

/* menu */
.menu{
    position: relative;
    left: 20%;
    margin-top: 20px;
    font-size: 1.2rem;
}
.menu ul{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    list-style: none;
}
.menu li{
    margin-left: 15px;
}
.menu ul li ul{
    display: none;
    position: absolute;
    background-color: navajowhite;
    padding-right: 50px;
}
.menu ul li ul li{
    color: red;
}
.menu ul li:hover{
    background-color: lightgray;
    color: red;
}
.menu ul li:hover > ul{
    display: flex;
    flex-direction: column;
}
/* /menu */

/* side bar */
#root{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: gainsboro;
}
#sidebar #wrapper{
    position: absolute;
    width: 30vw;
    height: 100%;
    margin-left: 30px;
    margin-top: 50px;
}
#sidebar #wrapper #intro img{
    border-radius: 50%;
    display: block;
    width: 5em;
    margin-bottom: 10px;
}
#sidebar #wrapper #intro #bar{
    background-color: black;
    height: 1px;
    width: 25vw;
    margin-top: 20px;
    margin-bottom: 50px;
}

#sidebar #wrapper #brief p{
    margin-top: 10px;
    font-size: 1rem;
}
#sidebar #wrapper .social_media{
    margin-left: -20%;
    scale: 70%;
    margin-top: 30%;
}
#sidebar #wrapper .social_media img{
    margin-right: 40px;
}

/* /side bar */

/* main */
#main{
    position: absolute;
    background-color: white;
    margin-top: 10vh;
    margin-left: 32vw;
    height: 90vh;
    width: 68vw;
}
/* /main */

/* footer */
footer{
    width: 100%;
    height: 18vh;
    background: url("/images/footerbg.png") repeat-x;
}
footer .wrapper{
    display: flex;
    flex-direction: row;
    max-width: 80%;
    margin: 0 auto;
}
footer .nav{
    margin-top: 10px;
}
footer .nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
footer .nav ul li{
    color: white;
    font-size: 1.1rem;
    margin-right: 20px;
}
footer .nav ul li ul{
    display: flex;
    flex-direction: column;
}
footer .nav ul a{
    color: white;
    font-size: 1rem;
}
footer .nav ul a:hover{
    color: darkred;
}
/*/footer*/