/* main */
#main{
    position: absolute;
    background-color: white;
    margin-top: 10vh;
    margin-left: 32vw;
    height: 250vh;
    width: 68vw;
}
#main #wrapper{
    margin-top: 20px;
    margin-left: 30px;
}
#main #bar{
    background-color: black;
    height: 1px;
    width: 60%;
    margin-left: -7px;
    margin-top: 20px;
    margin-bottom: 30px;
}
#main #wrapper h3{
    margin-bottom: 10px;
}
#main #wrapper p{
    margin-bottom: 30px;
    margin-left: 10px;
}
/* /main */

/* footer */
footer{
    width: 100%;
    height: 18vh;
    background: url("images/footerbg.png") repeat-x;
}
footer .wrapper{
    display: flex;
    flex-direction: row;
    max-width: 80%;
    margin: 0 auto;
}
footer .nav{
    margin-top: 10px;
}
footer .nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
footer .nav ul li{
    color: white;
    font-size: 1.1rem;
    margin-right: 20px;
}
footer .nav ul li ul{
    display: flex;
    flex-direction: column;
}
footer .nav ul a{
    color: white;
    font-size: 1rem;
}
footer .nav ul a:hover{
    color: darkred;
}
/*/footer*/