/* over all */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}
html{
    font-size: 20px;
}
a{
    text-decoration: none;
}
/* /over all */

/* header */
header{
    display: block;
    width: 100%;
    height: 60px;
    position: relative;
    top: 0;
    z-index: 1;
    zoom: 1;
    background: url("images/header-bg.png") repeat-x bottom left;
}
header .wrapper{
    display: flex;
    flex-direction: row;
    max-width: 70%;
    margin: 0 auto;
}
header .social_media{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 30%;
    align-items: center;
}
/* /header */

/* menu */
.menu{
    position: relative;
    left: 20%;
    margin-top: 20px;
    font-size: 1.3rem;
}
.menu ul{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    list-style: none;
}
.menu li{
    margin-left: 10px;
}
.menu ul li ul{
    display: none;
    position: absolute;
    background-color: gray;
}
.menu ul li:hover{
    background-color: lightgray;
}
.menu ul li:hover > ul{
    display: flex;
    flex-direction: column;
}
/* /menu */

/* landing section */

/* /landing section */