/* over all */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}
html{
    font-size: 20px;
}
a{
    text-decoration: none;
}
/* /over all */

/* header */
header{
    display: block;
    width: 100%;
    height: 60px;
    position: relative;
    top: 0;
    z-index: 1;
    zoom: 1;
    background: url("images/header-bg.png") repeat-x bottom left;
}
header .wrapper{
    display: flex;
    flex-direction: row;
    max-width: 70%;
    margin: 0 auto;
}
header .social_media{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 30%;
    align-items: center;
}
/* /header */

/* menu */
.menu{
    position: relative;
    left: 20%;
    margin-top: 20px;
    font-size: 1.3rem;
}
.menu ul{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    list-style: none;
}
.menu li{
    margin-left: 10px;
}
.menu ul li ul{
    display: none;
    position: absolute;
    background-color: gray;
}
.menu ul li:hover{
    background-color: lightgray;
}
.menu ul li:hover > ul{
    display: flex;
    flex-direction: column;
}
/* /menu */

/* landing section */
margin-top:5.4em;
    height:auto;
    background:#fff;
    background-image:intial;
    backgruond-position-x:intial;
        backgruond-position-y:intial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 0;
    overflow: hidden;
overflow-x: hidden;
    overflow-y: hidden;
    width=100%;
     display:block;
     margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    body {
    background: #fff;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    font-family: 'pt_sans_captionregular', Verdana, Geneva, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 62.5%;
    line-height: 1;
    color: #333;
    overflow-x: hidden;
    height: 100%;
    }
body{
    margin:0;
    padding:0;
    height:100vh;
    display:flex;
    justify-content:center;
        align-items:center;
    background:#23EC39;
}    
.slider{
    widht:800px;
    height:500px;
    border-radius:10px;
}
.slides{
    width:500px;
    height:500px;
    display:flex;
}
.slides{
    width:500%;
    height:500px;
    display:flex;
}
.slides input{
    display:name;
}
.slides{
width:20%;
    transtion:2s;
}
.slide img{
    width:800px;
    height:500px;
}
.navigation-manual{    
}
.manual-btn{
    border:2px solid #4003dc;
    padding :5px;
    border-radius:10px;
    cursor:pointer;
    transition:1s;
}

.manual-btn:not(:last-child){
    matgin-right:40px;
}
.manual-btn:hover{
    background:#40D3DC;
/*wrapper*/
   .wrapper{
       max-width: 1300px;
       width: 100%;
       display: block;
}
#guna1:checked~ .first{
    margin-left:0;
}
    
#guna2:checked~ .first{
    margin-left:-20;
}
    #guna3:checked~ .first{
    margin-left:-40; 
    }
    #guna4:checked~ .first{
    margin-left:-60;
}
    
    
/*/wrapper*/


/* /landing section */
