/* over all*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 20px;
}
/* over all!*/

/* header */
header{
    display: block;
    width: 100%;
    height: 60px;
    position: relative;
    top: 0;
    z-index: 1;
    zoom: 1;
    background: url("images/header-bg.png") repeat-x bottom left;
}
.wrapper{
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: 0 auto;
}
/* header! */

/* navbar menu*/
#navbar ul{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}
#navbar ul li{
    display: inline;
    margin-left: 20px;
    font-size: 1.2rem;
}
#navbar ul li ul{
    display: none;
}
#navbar ul li:hover{
    background-color: gray;
}
#navbar ul li:hover > ul{
    display: flex;
    flex-direction: column;
}
/* navbar menu! */