/* over all */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}
ul{
    list-style: none;
}
html{
    font-size: 20px;
}
a{
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
/* /over all */

/* loading screen */
#loadingscreen{
    position: fixed;
    background-color: black;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loadinscreengif{
    height: 50%;
    width: 50%;
}
/* /loading screen */

/* header */
header{
    display: block;
    width: 100%;
    height: 60px;
    position: relative;
    top: 0;
    z-index: 1;
    zoom: 1;
    background-color: whitesmoke;
    box-shadow: 0px 1px 10px 0.01px black;
}
header .wrapper{
    display: flex;
    flex-direction: row;
    max-width: 75%;
    margin: 0 auto;
}
header .social_media{
    scale: 80%;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 40%;
    margin-top: 10px;
    align-items: center;
}
/* /header */

/* menu */
.menu{
    position: relative;
    left: 20%;
    margin-top: 20px;
    font-size: 1.2rem;
}
.menu ul{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    list-style: none;
}
.menu li{
    margin-left: 15px;
}
.menu ul li ul{
    display: none;
    position: absolute;
    background-color: rgb(230, 227, 227);
    padding-right: 50px;
}
.menu ul li ul li{
    color: red;
}
.menu ul li:hover{
    background-color: rgb(230, 227, 227);
    color: red;
}
.menu ul li a:hover{
    color: red;
}
.menu ul li:hover > ul{
    display: flex;
    flex-direction: column;
}
/* /menu */

/* landing section */
.landingsection .wrapper{
    position: relative;
    margin: 0;
    padding: 0;
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider{
    width: 80vw;
    height: 90vh;
    border-radius: 10px;
}
.slides{
    width: 500%;
    height: 90vh;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
}
.slide img{
    margin-top: 9px;
    width: 80vw;
    height: 90vh;
}
.navigation-manual{
    position: absolute;
    width: 83vw;
    margin-top: 85vh;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid red;
    padding: 5px;
    margin-right: 3vw;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.manual-btn:hover{
    background: red;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
.celestialr{
    position: absolute;
    background-color: white;
    height: 100vh;
    width: 10vw;
    left: 0;
    top: 0;
    margin-top: 9px;
}
.celestiall{
    position: absolute;
    background-color: white;
    height: 100vh;
    width: 10vw;
    right: 0;
    top: 0;
    margin-top: 9px;
}

#floating_logo{
    position: absolute;
    right: 0;
    bottom: 60%;
    height: 160px;
    width: 163px;
    cursor: pointer;
}
/* /landing section */

/* tyres selection */
#tyreselection .wrapper{
    position: relative;
    margin-top: 60px;
    margin-bottom: 150px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#tyreslider{
    position: relative;
    display: flex;
    flex-direction: row;
}
#tyreslider div{
    height: 90px;
    width: 185px;
}
#tyreslider img{
    transition: 0.5s;
}
#tyreinfo{
    position: absolute;
    height: 50px;
    display: none;
}
#tyreinfo .proxy{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#tyreinfo button{
    width: fit-content;
}
#tyreinfo select{
    height: 20px;
    margin-left: 10px;
}
#tyreinfo #details{
    position: absolute;
    margin-top: 58px;
    left: -130%;
    height: 150px;
    width: 50vw;
    background-color: black;
    display: flex;

}
#tyreinfo #details #innerbox{
    background-color: white;
    height: 146px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    width: 69.1%;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}
#tyreinfo #details img{
    background-color: white;
    height: 146px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    width: 30%;
}
/*/ tyres selection */

/* footer */
footer{
    width: 100%;
    height: 18vh;
    background: url("images/footerbg.png") repeat-x;
}
footer .wrapper{
    display: flex;
    flex-direction: row;
    max-width: 80%;
    margin: 0 auto;
}
footer .nav{
    margin-top: 10px;
}
footer .nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
footer .nav ul li{
    color: white;
    font-size: 1.1rem;
    margin-right: 20px;
}
footer .nav ul li ul{
    display: flex;
    flex-direction: column;
}
footer .nav ul a{
    color: white;
    font-size: 1rem;
}
footer .nav ul a:hover{
    color: darkred;
}
/*/footer*/