/* over all */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}
html{
    font-size: 20px;
}
a{
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
/* /over all */

/* header */
header{
    display: block;
    width: 100%;
    height: 60px;
    position: relative;
    top: 0;
    z-index: 1;
    zoom: 1;
    background-color: whitesmoke;
    box-shadow: 0px 1px 10px 0.01px black;
}
header .wrapper{
    display: flex;
    flex-direction: row;
    max-width: 70%;
    margin: 0 auto;
}
header .social_media{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 30%;
    align-items: center;
}
/* /header */

/* menu */
.menu{
    position: relative;
    left: 20%;
    margin-top: 20px;
    font-size: 1.3rem;
}
.menu ul{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    list-style: none;
}
.menu li{
    margin-left: 10px;
}
.menu ul li ul{
    display: none;
    position: absolute;
    background-color: navajowhite;
    padding-right: 50px;
}
.menu ul li ul li{
    color: red;
}
.menu ul li:hover{
    background-color: lightgray;
    color: red;
}
.menu ul li:hover > ul{
    display: flex;
    flex-direction: column;
}
/* /menu */

/* landing section */
.landingsection .wrapper{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider{
    width: 80vw;
    height: 95vh;
    border-radius: 10px;   
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
}
.slide img{
    width: 80vw;
    height: 95vh;
}
.navigation-manual{
    position: absolute;
    width: 90vw;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid red;
    padding: 5px;
    margin-right: 40px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.manual-btn:hover{
    background: red;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
.celestialr{
    position: absolute;
    background-color: white;
    height: 100vh;
    width: 10vw;
    left: 0;
    top: 10vh;
}
.celestiall{
    position: absolute;
    background-color: white;
    height: 100vh;
    width: 10vw;
    right: 0;
    top: 10vh;
}

#floating_logo{
    position: absolute;
    right: 0;
    bottom: 60%;
}
/* /landing section */
